<div class="container">
	<!-- This is the chain logo on the front page -->
	<img class="linkLogo" src="/img/link2.svg"></img>
</div>

<div id="formBox">
	<form id="form" action="/urls" method="post">
		<input id="inputBox" type="text" name="long_url" placeholder="Copy your link and paste it in here!" required>
		<input id="submitButton" class="btn btn-primary-outline" type="submit" value="Submit">
	</form>
</div>

<div id="resultBox">
</div>
<button id="copyButton" class="btn btn-primary-outline">Copy Me</button>
<br>
<br>
<br>
