<form action="/form" method="post">
	Enter URL:
	<input type="text" name="long_url">
	<input type="submit" value="Submit"> 
</form>

<% @urls.each do |x| %>
Your long url:<%=x.long_url%> 
<br>
Your short url: http://localhost:9393/<%= x.short_url%>
<%end%>