<html>
<link rel="stylesheet" href="/css/application.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:700|Londrina+Shadow" rel="stylesheet">
<script src="https://use.fontawesome.com/5760e317e8.js"></script>

<head>
	<title>Ditly</title>
</head>
<body>
	<div id="pageTitle">
		<a href="http://localhost:9393/">Daniel's URL Shortener</a>
	</div>
	<%= yield %>
</body>

<footer>
	<div id="footerContainer" class="navbar navbar-inverse navbar-fixed-bottom">
		<p>Created By Daniel Goh | A NEXT Academy Project</p>
		<a id="personalButton" href="https://my.linkedin.com/in/danielgohky" target="_blank"><i class="fa fa-linkedin"></i><a>
		<a id="personalButton"href="https://www.facebook.com/danielgohkengyu" target="_blank"><i class="fa fa-facebook"></i></a>
		<a id="personalButton" href="https://github.com/gohdaniel15" target="_blank"><i class="fa fa-github"></i></a>
		</div>
	</footer>
	</html>